.container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 40rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  font-family: 'Sharp Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  min-width: 150px;
}

.network {
  display: inline-block;
  border: 1px solid;
  border-radius: 0.2rem;
  margin-right: calc(2rem / 6);
  margin-bottom: calc(2rem / 6);
  padding: calc(2rem / 6);
  box-shadow: none;
  cursor: pointer;
  width: fit-content;
  min-width: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
  transition: 0.2s ease-out;
}

.networkUnselected {
  color: #8b98a9;
  background: #fff;
  border-color: #e2e2e2;
}

.networkUnselected:hover {
  color: #41474e;
}

.networkSelected {
  color: #fcfcfc;
  background: #41474e;
  border-color: #fcfcfc;
}

.up {
  border: 2px solid #5fb359;
}

.warning {
  border: 2px solid #eac146;
}

.down {
  border: 2px solid #d80606;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  fill: var(--font-color-heading);
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
