.app {
  padding: var(--spacer);
  margin: 0 auto;
  background: url('../../node_modules/@oceanprotocol/art/waves/waves.svg')
    no-repeat center 13.5rem;
  min-height: 100vh;
}

@media screen and (min-width: 50rem) {
  .app {
    padding: calc(var(--spacer) * 2);
  }
}

.header,
.content,
.footer {
  max-width: 70rem;
  margin: 0 auto;
}

.footer {
  padding: var(--spacer) 0;
}

.title {
  margin-bottom: calc(var(--spacer) / 4);
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  font-size: var(--font-size-large);
  margin: 0 auto;
  max-width: 50rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--spacer);
}

.networkName {
  margin-top: calc(var(--spacer) * 3);
  text-transform: capitalize;
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background: var(--background-content);
  border-radius: var(--border-radius);
  box-shadow: 0 6px 17px 0 var(--box-shadow-color);
  border: 1px solid var(--border-color);
}

.titleComponent {
  font-size: var(--font-size-large);
  margin: 0;
}

.warning {
  border-color: var(--brand-alert-yellow);
}

.down {
  border-color: var(--brand-alert-red);
}

.version {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  margin-left: calc(var(--spacer) / 4);
}

.logo {
  fill: var(--font-color-heading);
  height: 4rem;
  width: 4rem;
  margin: 0 auto calc(var(--spacer) / 2) auto;
}

.icon {
  display: inline-block;
  margin-right: calc(var(--spacer) / 6);
}

.check {
  fill: var(--brand-alert-green);
}

.messages {
  list-style-type: square;
  margin-left: 1rem;
  margin-top: calc(var(--spacer) / 4);
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

.messages li {
  display: list-item;
  margin-top: calc(var(--spacer) / 8);
  list-style-position: outside;
}

.warning .messages {
  color: var(--brand-alert-orange);
}

.down .messages {
  color: var(--brand-alert-red);
}

.contracts {
  margin-top: var(--spacer);
  margin-left: 1rem;
}

.contracts summary {
  margin-left: -1rem;
  cursor: pointer;
}

.contracts .titleComponent {
  display: inline-block;
}

.loading {
  margin-top: 30vh;
  text-align: center;
}
