.container {
  padding: var(--spacer);
  margin: 0 auto;
}

.footer {
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  font-size: var(--font-size-large);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--spacer);
}

.networkName {
  margin-top: calc(var(--spacer) * 2);
  text-transform: capitalize;
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  fill: var(--font-color-heading);
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
}

.up {
  border: 2px solid #5fb359;
}

.warning {
  border: 2px solid #eac146;
}

.down {
  border: 2px solid #d80606;
}
